<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.190.1</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:simonyan.anna@picsart.com</permission>
    <permission>hudson.model.Hudson.Administer:test</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.saml.SamlSecurityRealm" plugin="saml@1.1.3">
    <displayNameAttributeName>http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name</displayNameAttributeName>
    <groupsAttributeName>http://schemas.xmlsoap.org/claims/Group</groupsAttributeName>
    <maximumAuthenticationLifetime>86400</maximumAuthenticationLifetime>
    <usernameCaseConversion>none</usernameCaseConversion>
    <logoutUrl>https://picsart-simonyananna.okta.com</logoutUrl>
    <binding>urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect</binding>
    <idpMetadataConfiguration>
      <xml>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;md:EntityDescriptor entityID=&quot;http://www.okta.com/exk1i6rt8eVeiMQxU357&quot;
    xmlns:md=&quot;urn:oasis:names:tc:SAML:2.0:metadata&quot;&gt;
    &lt;md:IDPSSODescriptor WantAuthnRequestsSigned=&quot;false&quot; protocolSupportEnumeration=&quot;urn:oasis:names:tc:SAML:2.0:protocol&quot;&gt;
        &lt;md:KeyDescriptor use=&quot;signing&quot;&gt;
            &lt;ds:KeyInfo
                xmlns:ds=&quot;http://www.w3.org/2000/09/xmldsig#&quot;&gt;
                &lt;ds:X509Data&gt;
                    &lt;ds:X509Certificate&gt;MIIDuDCCAqCgAwIBAgIGAW1ncHh9MA0GCSqGSIb3DQEBCwUAMIGcMQswCQYDVQQGEwJVUzETMBEG
A1UECAwKQ2FsaWZvcm5pYTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbzENMAsGA1UECgwET2t0YTEU
MBIGA1UECwwLU1NPUHJvdmlkZXIxHTAbBgNVBAMMFHBpY3NhcnQtc2ltb255YW5hbm5hMRwwGgYJ
KoZIhvcNAQkBFg1pbmZvQG9rdGEuY29tMB4XDTE5MDkyNTA4MDAyN1oXDTI5MDkyNTA4MDEyN1ow
gZwxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYwFAYDVQQHDA1TYW4gRnJhbmNp
c2NvMQ0wCwYDVQQKDARPa3RhMRQwEgYDVQQLDAtTU09Qcm92aWRlcjEdMBsGA1UEAwwUcGljc2Fy
dC1zaW1vbnlhbmFubmExHDAaBgkqhkiG9w0BCQEWDWluZm9Ab2t0YS5jb20wggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQCS5Dsg4I6TOqMoF2GOUejJjaSmD1mPHegQZ0tkHXocDSd7wWOP
H0xkDRCFuAeHsK0t5YFem51hyBPbL5w6goWmnA4bH3aLezga+AzZOmxFoK5OC3tlWHpP+4P5L4A4
JM6MNKMoSsjuqJAGGTqntZlWT+RuJoDgQlpHSiS+9oaySEuH8lbldlFIFhzVvja5xlvDhmLjmYRP
LxTK5t5hRLXFTpFCN2tLMmPaD7E1q1OOWMJG/e7MOrIp1thof0VZPXXT9tw8fJYy9ybzZsk5A7Rk
YB+NllisONQu5TRiPkqDJuB6xXPMJtnpUiD5td/xDIBqxebZVYLl1JW8gq9MkGixAgMBAAEwDQYJ
KoZIhvcNAQELBQADggEBAIXTsj71H4cVeZG6wbT3MQHjvTU/q24UkISl3cznM/in9/doya9IvwUX
ufCjIAj3eu14ZaxTFPt3ISl73Og6LPOYHBUNWL2suTzCKsRsjRWjZstNMXi7q2fYPxzbQ2Vzc9Tf
GizCR9XGN6llZmVgDegq3mL/oM+cjIwNaXknnvo6QBmwazbEQ3ndPJtBIwVetUnzsYUAIcXm9ePz
MG1u++reCd3926KK5Qr4gYLH8xd/+JIsCaTSbEHCp8kbNaxACeXKKPlEG11amgshb3mdbg3+xJv1
BuuuBrGp1EvLhVvwH3277PNtL9s5I6o4CFdx7GYYViSBvgz3fYKkS8zHJ1Y=&lt;/ds:X509Certificate&gt;
                &lt;/ds:X509Data&gt;
            &lt;/ds:KeyInfo&gt;
        &lt;/md:KeyDescriptor&gt;
        &lt;md:NameIDFormat&gt;urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified&lt;/md:NameIDFormat&gt;
        &lt;md:NameIDFormat&gt;urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress&lt;/md:NameIDFormat&gt;
        &lt;md:SingleSignOnService Binding=&quot;urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST&quot; Location=&quot;https://picsart-simonyananna.okta.com/app/jenkins/exk1i6rt8eVeiMQxU357/sso/saml&quot;/&gt;
        &lt;md:SingleSignOnService Binding=&quot;urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect&quot; Location=&quot;https://picsart-simonyananna.okta.com/app/jenkins/exk1i6rt8eVeiMQxU357/sso/saml&quot;/&gt;
    &lt;/md:IDPSSODescriptor&gt;
&lt;/md:EntityDescriptor&gt;</xml>
      <url>https://picsart-simonyananna.okta.com/app/exk1i6rt8eVeiMQxU357/sso/saml/metadata</url>
      <period>0</period>
    </idpMetadataConfiguration>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>